Import Python packages

In [48]:
import pandas as pd

Import datasets

In [49]:
# import jurisdiction data 
balcityharfcecil = pd.read_excel("C:/Users/trung/CCDS/data/raw/balcityharfcecil.xlsx")
charlesaarundelcalvert = pd.read_excel("C:/Users/trung/CCDS/data/raw/charlesaarundelcalvert.xlsx")
dorstmarytalbot = pd.read_excel("C:/Users/trung/CCDS/data/raw/dorstmarytalbot.xlsx")
fredcarhow = pd.read_excel("C:/Users/trung/CCDS/data/raw/fredcarhow.xlsx")
garrettalleganywash = pd.read_excel("C:/Users/trung/CCDS/data/raw/garrettalleganywash.xlsx")
kentqacaroline = pd.read_excel("C:/Users/trung/CCDS/data/raw/kentqacaroline.xlsx")
pgmontbalcoun = pd.read_excel("C:/Users/trung/CCDS/data/raw/pgmontbalcoun.xlsx")
wicosomerwor = pd.read_excel("C:/Users/trung/CCDS/data/raw/wicosomerwor.xlsx")

In [50]:
# import crime data
crime = pd.read_csv("C:/Users/trung/CCDS/inst414/crime.csv")

Data processing

In [51]:
# merge jurisdiction data into one dataframe
df_list = [balcityharfcecil, charlesaarundelcalvert, dorstmarytalbot, dorstmarytalbot, garrettalleganywash, kentqacaroline, pgmontbalcoun, wicosomerwor]

df_merged = pd.concat(df_list, ignore_index=False)

In [52]:
# keep only name, year, poverty-rate, median-household-income, rent-burden, pct-white, household-threatened, eviction-filing-rate
keep_df_cols = ['name', 'year', 'poverty-rate', 'median-household-income', 'rent-burden', 'pct-white', 'households-threatened', 'eviction-filing-rate']

df_merged = df_merged[keep_df_cols]

In [53]:
# filter crime dataframe to only include year 2000-2018
crime = crime[(crime['YEAR'] >= 2000) & (crime['YEAR'] <= 2018)]

In [54]:
# keep only jurisdiction and rename to county name ("name"), lowercase year and grand total crime count
keep_crime_cols = ['JURISDICTION', 'YEAR', 'GRAND TOTAL']

crime = crime[keep_crime_cols]
crime.columns = crime.columns.str.lower()
crime.rename(columns={'jurisdiction': 'name'}, inplace=True)

In [55]:
# merge df_merged and crime into one dataframe. This is the final dataframe to use
df = pd.merge(left=df_merged, right=crime, on=['name', 'year'], how='left')

In [56]:
df

,name,year,poverty-rate,median-household-income,rent-burden,pct-white,households-threatened,eviction-filing-rate,grand total
0,Baltimore City,2000,22.92,30078,26.9,30.96,58207.75,124.17,66791
1,Baltimore City,2001,22.92,30078,26.9,30.96,52564.67,111.08,64453
2,Baltimore City,2002,22.92,30078,26.9,30.96,57183.58,121.05,56550
3,Baltimore City,2003,22.92,30078,26.9,30.96,57039.41,116.82,49263
4,Baltimore City,2004,22.92,30078,26.9,30.96,60221.48,109.42,48314
...,...,...,...,...,...,...,...,...,...
451,Worcester County,2014,7.65,56773,31.5,79.97,777.98,17.29,2427
452,Worcester County,2015,7.65,56773,31.5,79.97,484.02,10.03,2008
453,Worcester County,2016,6.41,61145,30.7,80.08,727.82,15.95,1987
454,Worcester County,2017,6.41,61145,30.7,80.08,679.52,14.51,1950
455,Worcester County,2018,6.41,61145,30.7,80.08,775.47,16.69,1551

In [57]:
# check for data type and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     456 non-null    object
 1   year                     456 non-null    int64
 2   poverty-rate             456 non-null    float64
 3   median-household-income  456 non-null    int64
 4   rent-burden              456 non-null    float64
 5   pct-white                456 non-null    float64
 6   households-threatened    456 non-null    float64
 7   eviction-filing-rate     456 non-null    float64
 8   grand total              456 non-null    int64
dtypes: float64(5), int64(3), object(1)
memory usage: 32.2+ KB

In [58]:
# saving df
df.to_csv(r"C:/Users/trung/CCDS/data/processed/df.csv", index=False)