Import Python packages

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Import dataset

In [10]:
df = pd.read_csv("C:/Users/trung/CCDS/data/processed/df.csv")

df.head(5)

,name,year,poverty-rate,median-household-income,rent-burden,pct-white,households-threatened,eviction-filing-rate,total-crime
0,Baltimore City,2000,22.92,30078,26.9,30.96,58207.75,124.17,66791
1,Baltimore City,2001,22.92,30078,26.9,30.96,52564.67,111.08,64453
2,Baltimore City,2002,22.92,30078,26.9,30.96,57183.58,121.05,56550
3,Baltimore City,2003,22.92,30078,26.9,30.96,57039.41,116.82,49263
4,Baltimore City,2004,22.92,30078,26.9,30.96,60221.48,109.42,48314

Split df into two dataframes, metropolitan df and non-metropolitan df

In [12]:
"""
Metropolitan dataframe consists Frederick, Prince George's, and Montgomery jurisdiction. 
Non-metropolitan dataframe consists of the other 21 jurisdictions.
"""
# metropolitan jurisdictions names
metro_juris = ["Frederick County", "Prince George's County", "Montgomery County"]

# DataFrame with only the 3 counties
df_metro = df[df['name'].isin(metro_juris)]

# DataFrame with the rest
df_nonmetro = df[~df['name'].isin(metro_juris)]

# Optional: reset index for clarity
df_metro = df_metro.reset_index(drop=True)
df_nonmetro = df_nonmetro.reset_index(drop=True)

# Check counts
print("Target counties:", df_metro['name'].unique())
print("Other counties:", df_nonmetro['name'].nunique(), "other counties")

Target counties: ['Frederick County' "Prince George's County" 'Montgomery County']
Other counties: 21 other counties

Univariate Analysis